body {
  background-color: #E57373;
  color: white;
}

.quotediv{
  text-align: center;
  width: 50em;
  margin: 0 auto 1em auto;
}

.quote{
  display: inline-block;
  text-align: center;
  font-size: 20px;
}
